@use '_partial/reset' as *;
@use '_partial/variables' as *;
@use '_partial/typo' as *;

@import "bootstrap/scss/bootstrap";

body{
    font-family: "Quicksand";
}
.tt-search-box{
    background-color: transparent;
}
.tt-search-box-input-container {
    background-color: whitesmoke;
}
